<ion-header>
  <ion-toolbar>
      <ion-title>Wonderoast Subscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="full">
        <h1>Shipping Address</h1>
        <ion-item>
            <ion-label stacked class="bold-label">Name: </ion-label>
            <ion-input required type="text" [(ngModel)]="subscription.Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked class="bold-label">Email: </ion-label>
          <ion-input required type="text" [(ngModel)]="subscription.Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked class="bold-label">Address 1: </ion-label>
          <ion-input required type="text" [(ngModel)]="subscription.ShipToAddress1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked class="bold-label">Address 2: </ion-label>
          <ion-input required type="text" [(ngModel)]="subscription.ShipToAddress2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked class="bold-label">City </ion-label>
          <ion-input required type="text" [(ngModel)]="subscription.ShipToCity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked class="bold-label">State: </ion-label>
          <ion-input required type="text" [(ngModel)]="subscription.ShipToState"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked class="bold-label">Zip Code: </ion-label>
          <ion-input required type="text" [(ngModel)]="subscription.ShipToZipCode"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="addSubscription()">Sign Up</ion-button>
    </ion-list>
</ion-content>
